<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Log in to TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <form method="POST" action="/login">
    <div>
      <h1>Log in to view your TinyUrls</h1>
      <label>Enter your email:</label>
      <input type="email" name="email" placeholder="email">
    </div>
    <div>
      <label>Enter your password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>