<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Log in to TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <form method="POST"  action="/login" class="form-group">
    <div>
      <h1 class="text-center" style="margin: 20px;">Log in to view your TinyUrls</h1>
    </div>
    <div>
      <label style="margin-left: 40%" >Enter your email:</label>
      <input type="email" style="width: 250px; margin-left: 40%" class="form-control" name="email" placeholder="email">
    </div>
    <div>
      <label style="margin-left: 40%">Enter your password</label>
      <input style="width: 250px; margin-left: 40%" type="password"  class="form-control" name="password" placeholder="Password">
    </div>
    <button style="margin-left: 40%; margin-top: 5px" type="submit" class="btn btn-secondary">Submit</button>
  </form>
</body>
</html>